<h2>Editar Propietario</h2>

<%= render "form.html", Map.put(assigns, :action, propietario_path(@conn, :update, @propietario)) %>

<span><%= link "Volver atrás", to: propietario_path(@conn, :index) %></span>
